<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800|Roboto:400,500,700" rel="stylesheet"> 

    <!-- Boomerang CSS (including Bootstrap) -->
    <link type="text/css" href="{{uikit}}uikit/assets/css/theme.css" rel="stylesheet">
</head>
<body>
    <h1>Register</h1>
    <h2>{{errors}}</h2>
    <form method="POST",action="/register/">
        {{ form.hidden_tag() }}
        {{ form.email.label }} {{ form.email() }}<br><br>
        {{ form.password.label }} {{ form.password() }}<br><br>
        {{ form.submit() }}
    </form>
    <a href="/admin"><h3>admin home</h3></a>
<!-- Bootstrap JS -->
<script src="{{uikit}}assets/vendor/jquery/jquery.min.js"></script>
<script src="{{uikit}}assets/vendor/popper/popper.min.js"></script>
<script src="{{uikit}}assets/vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- FontAwesome 5 -->
<script src="{{uikit}}assets/vendor/fontawesome/js/fontawesome-all.min.js"></script>

<!-- Boomerang JS -->
<script src="{{uikit}}assets/js/theme.js"></script>
</body>
</html>
