<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>商店视角</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800|Roboto:400,500,700" rel="stylesheet"> 

    <!-- Boomerang CSS (including Bootstrap) -->
    <!-- <link type="text/css" href="{{uikit}}assets/css/theme.css" rel="stylesheet"> -->
</head>
<body>
<a href="/home"><h1 style="background-color: azure;color: blueviolet;border: 0cqmax;">已结束当前订单，点击返回主页</h1></a>
</body>
</html>