<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>商店视角</title>
    <style>
    .fixednav_bottom {
        position: fixed;
        bottom: 0;
        left: 0%;
        width: 100%;
        background-color: aqua;
        z-index: 9999;
    }
    </style>
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800|Roboto:400,500,700" rel="stylesheet"> 

    <!-- Boomerang CSS (including Bootstrap) -->
    <!-- <link type="text/css" href="{{uikit}}assets/css/theme.css" rel="stylesheet"> -->
</head>
<body>
    <h1>原始订单</h1>
    {% if alert=="not in the time"%}
    <h3 style="color: aquamarine;">点餐还未结束</h3>
    {%endif%}
    <form method="POST" action="/shop/conclude" ><input type="submit" value='刷新订单'></form>
    <div>
        <table class="table table-hover align-items-center">
           
            <thead>
                <tr>
                    <!-- <th scope="col">
                        <div class="custom-control custom-checkbox">
                            <label class="custom-control-label" for="th_checkbox"></label>
                        </div>
                    </th> -->
                    <th scope="col">品名</th>
                    <th scope="col">单价</th>
                    <th scope="col">数量</th>
                    <th scope="col">备注</th>
                </tr>
            </thead>
            <tbody>
                {%for i in list%}
                <tr class="bg-white" scope="row" height="20">
                    <!-- <td>
                        <div class="custom-control custom-checkbox">
                            <label class="custom-control-label" for="td_checkbox_1"></label>
                        </div>
                    </td> -->
                    <td>
                        <div class="media align-items-center">
                            <!-- <img src="../assets/images/prv/thumb-1.jpg" class="avatar avatar-lg mr-3"> -->
                            <div class="media-body">
                                <h4 class="h5 font-weight-normal mb-0">{{goods_list[i.goods_id]}}</h4>
                                <!-- <span class="font-weight-normal text-muted">Web Developer</span> -->
                            </div>
                        </div>
                    </td>
                    <td><h4>{{goods_price[i.goods_id]}}</h4></td>
                    <td>
                        <h4>{{i.num}}</h4>
                    </td>
                    <td>
                        <h5>{{i.note}}</h5>
                    </td>
                </tr>
                {%endfor%}

            </tbody>
        </table>
    </div>
    <div>
        <h1>替换的商品：</h1>
        <table class="table table-hover align-items-center">
           
            <thead>
                <tr>
                    <!-- <th scope="col">
                        <div class="custom-control custom-checkbox">
                            <label class="custom-control-label" for="th_checkbox"></label>
                        </div>
                    </th> -->
                    <th scope="col">被替换</th>
                    <th scope="col">代替商品</th>
                    <th scope="col">数量</th>
                    <th scope="col">操作</th>
                </tr>
            </thead>
            <tbody>
                {%for i in change_list%}
                <tr class="bg-white" scope="row" height="20">
                    <!-- <td>
                        <div class="custom-control custom-checkbox">
                            <label class="custom-control-label" for="td_checkbox_1"></label>
                        </div>
                    </td> -->
                    <td>
                        <div class="media align-items-center">
                            <!-- <img src="../assets/images/prv/thumb-1.jpg" class="avatar avatar-lg mr-3"> -->
                            <div class="media-body">
                                <h4 class="h5 font-weight-normal mb-0">{{goods_list[i[0]]}}   </h4>
                                <!-- <span class="font-weight-normal text-muted">Web Developer</span> -->
                            </div>
                        </div>
                        
                    </td>
                    <td>
                        <h4>{{goods_list[i[1]]}}</h4>
                    </td>
                    <td>
                        <h4>{{i[2]}}</h4>
                    </td>
                    <td>
                        <a href="/shop?remove={{i[0]}}"><h5>移除</h5></a>
                    </td>
                </tr>
                {%endfor%}

            </tbody>
        </table>
    </div>
    <div>
        <h2>添加要替换的商品对</h2>
        <form method="POST" action="/shop">
        <h3>{{form.origin()}} 换为 {{form.alter()}}</h3>
        <h4>添加{{form.submit()}}</h4>
        </form>
        <div style="color: red;">
        {%if error=='nest'%}
            <h4>代替商品不能是已被替代的商品</h4>
        {%else%}
            {%if error=='repeat'%}
                <h4 >替代品不能是自己</h4>
            {%else%}
                {%if error=='conflict'%}
                    <h4>被替代的商品不能重复</h4>
                {% endif %}
            {% endif %}
        {% endif %}
        </div>
    </div>
    <div style="height: 110;">
        <h2>|   </h2>
        <p style="height: 110;"><h1>______</h1></p>
    </div>
    <div class="fixednav_bottom">
        <a href="/shop/confirm"><h3 style="color:rgb(153, 0, 255)";>完成订单</h3></a>
        <a href="/home"><h3>HOME</h3></a>
    </div>
<!-- Bootstrap JS -->
<script src="{{uikit}}assets/vendor/jquery/jquery.min.js"></script>
<script src="{{uikit}}assets/vendor/popper/popper.min.js"></script>
<script src="{{uikit}}assets/vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- FontAwesome 5 -->
<script src="{{uikit}}assets/vendor/fontawesome/js/fontawesome-all.min.js"></script>

<!-- Boomerang JS -->
<script src="{{uikit}}assets/js/theme.js"></script>
</body>
</html>