<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>商店视角</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800|Roboto:400,500,700" rel="stylesheet"> 
    <style>
        .fixednav {
            position: fixed;
            bottom: 0;
            left: 0%;
            width: 100%;
            background-color: aqua;
            z-index: 9999;
        }
    </style>
    <!-- Boomerang CSS (including Bootstrap) -->
    <link type="text/css" href="{{uikit}}assets/css/theme.css" rel="stylesheet">
</head>
<body>
    <div>
        <h1>最终订单</h1>
        <table class="table table-hover align-items-center">

            <thead>
                <tr>
                    <!-- <th scope="col">
                        <div class="custom-control custom-checkbox">
                            <label class="custom-control-label" for="th_checkbox"></label>
                        </div>
                    </th> -->
                    <th scope="col">品名</th>
                    <th scope="col">单价</th>
                    <th scope="col">数量</th>
                </tr>
            </thead>
            <tbody>
                {%for i in list%}
                <tr class="bg-white" scope="row" height="20">
                    <!-- <td>
                        <div class="custom-control custom-checkbox">
                            <label class="custom-control-label" for="td_checkbox_1"></label>
                        </div>
                    </td> -->
                    <td>
                        <div class="media align-items-center">
                            <!-- <img src="../assets/images/prv/thumb-1.jpg" class="avatar avatar-lg mr-3"> -->
                            <div class="media-body">
                                <h4 class="h5 font-weight-normal mb-0">{{goods_list[i.goods_id]}}</h4>
                                <!-- <span class="font-weight-normal text-muted">Web Developer</span> -->
                            </div>
                        </div>
                    </td>
                    <td><h4>{{goods_price[i.goods_id]}}</h4></td>
                    <td>
                        <h4>{{i.num}}</h4>
                    </td>
                </tr>
                {%endfor%}

            </tbody>
        </table>
    </div>
    <div>
        <h1>已执行的替换：</h1>
        <table class="table table-hover align-items-center">

            <thead>
                <tr>
                    <!-- <th scope="col">
                        <div class="custom-control custom-checkbox">
                            <label class="custom-control-label" for="th_checkbox"></label>
                        </div>
                    </th> -->
                    <th scope="col">被替换</th>
                    <th scope="col">代替商品</th>
                    <th scope="col">数量</th>
                    <th scope="col">备注</th>
                </tr>
            </thead>
            <tbody>
                {%for i in change_list%}
                <tr class="bg-white" scope="row" height="20">
                    <!-- <td>
                        <div class="custom-control custom-checkbox">
                            <label class="custom-control-label" for="td_checkbox_1"></label>
                        </div>
                    </td> -->
                    <td>
                        <div class="media align-items-center">
                            <!-- <img src="../assets/images/prv/thumb-1.jpg" class="avatar avatar-lg mr-3"> -->
                            <div class="media-body">
                                <h4 class="h5 font-weight-normal mb-0">{{goods_list[i[0]]}}   </h4>
                                <!-- <span class="font-weight-normal text-muted">Web Developer</span> -->
                            </div>
                        </div>

                    </td>
                    <td>
                        <h4>{{goods_list[i[1]]}}</h4>
                    </td>
                    <td>
                        <h4>{{i[2]}}</h4>
                    </td>
                </tr>
                {%endfor%}

            </tbody>
        </table>
    </div>
    <div>
        <h4>总计：{{total}} 元</h4>
    </div>
    <div style="height: 150;">
        <h2>|    </h2>
        <h3>|    </h3>
        <p style="height: 150;"><h1>______</h1></p>
    </div>
    <div class="fixednav">
        <a href="/shop"><h3>返回修改</h3></a>
        {%if warning=="not in the time"%}
        <h4 style="color: rgb(226, 66, 66);">现在点餐还未结束</h4>
        {%endif%}
        {%if warning=="admin"%}
        <h2 style="color: rgb(226, 66, 66);">警告：您正在以管理员身份完成订单，若非特殊情况请勿继续</h2>
        <a href="/shop/confirm?confirm=TRUE"><h3 style="color: brown;">确认以管理员身份提交</h3></a>
        {%endif%}
        {%if not warning%}
        <a href="/shop/confirm?confirm=TRUE"><h3 style="color: brown;">确认提交</h3></a>
        {%endif%}
    </div>
<!-- Bootstrap JS -->
<script src="{{uikit}}assets/vendor/jquery/jquery.min.js"></script>
<script src="{{uikit}}assets/vendor/popper/popper.min.js"></script>
<script src="{{uikit}}assets/vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- FontAwesome 5 -->
<script src="{{uikit}}assets/vendor/fontawesome/js/fontawesome-all.min.js"></script>

<!-- Boomerang JS -->
<script src="{{uikit}}assets/js/theme.js"></script>
</body>
</html>