<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>嗯呐哒！(今天又要吃什么呀！)</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800|Roboto:400,500,700" rel="stylesheet"> 

    <!-- Boomerang CSS (including Bootstrap) -->
    <link type="text/css" href="{{uikit}}uikit/assets/css/theme.css" rel="stylesheet">
</head>
<body>
    <main class="main">
    </main>
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        <span class="alert-inner--icon"><i class="fas fa-info"></i></span>
        <span class="alert-inner--text"><strong>Hello!</strong> 嗯呐嗯呐！(又是一个不需要食堂的早上呢！) {{name}}!</span>
        {%if alert=="out of time"%}
        <span class="alert-inner--text"><strong>现在不是点餐时间。</strong> 以下是您今天的订单</span>
        {%endif%}
        
        <button type="button" class="undo" aria-label="Undo">Undo</button>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        
      </div>
    <a href="/student/{{name}}/history"><h4 style="color: aquamarine;" >历史订单</h4></a>

    <div>
        {%if alert=="out of time"%}
        <span class="alert-inner--text"><strong>现在不是点餐时间。</strong> 以下是您今天的订单</span>
        {%endif%}
        <table class="table table-hover align-items-center" >
           
            <thead>
                <tr>
                    <!-- <th scope="col">
                        <div class="custom-control custom-checkbox">
                            <label class="custom-control-label" for="th_checkbox"></label>
                        </div>
                    </th> -->
                    <th scope="col">品名</th>
                    <th scope="col">单价</th>
                    <th scope="col">数目</th>
                    <th scope="col">操作</th>
                </tr>
            </thead>
            <tbody>
                {%for i in ordered %}
                <tr scope="row">
                    <!-- <td>
                        <div class="custom-control custom-checkbox">
                            <label class="custom-control-label" for="td_checkbox_1"></label>
                        </div>
                    </td> -->
                    <td>
                        <h4 class="h5 font-weight-normal mb-0">{{goods_list[i]}}</h4>
                        <!-- <span class="font-weight-normal text-muted">Web Developer</span> -->
                    </td>
                    <td><h4>{{goods_price[i]}}</h4></td>
                    <td><h4>{{ordered[i]}}</h4></td>
                    <td>
                        {%if ordered[i]>1 %}
                        <a href="?minus={{i}}"><h4>减少</h4></a>
                        {%else%}
                        <a href="?minus={{i}}"><h4>去除</h4></a>
                        {%endif%}
                    </td>
                </tr>
                {%endfor%}

            </tbody>
        </table>
    </div>
    <div>
        <!-- <div class="dropdown">
            <button class="btn btn-outline-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#?addition={{i}}"><h4>RMB</h4></a>
                {%for i in goods_list%}
                    <a class="dropdown-item" href="#?addition={{i}}"><h4>{{goods_list[i]}}    {{goods_price[i]}}RMB</h4></a>
                    
                {%endfor%}
            </div>
        </div> -->
        <h4>order:</h4>
        {%for i in goods_list%}
            <a href="?addition={{i}}"><h4>{{goods_list[i]}}    {{goods_price[i]}}RMB</h4></a>
                    
        {%endfor%}
    </div>
    <a href="/home"><h2>HOME</h2></a>
    <!-- Bootstrap JS -->
    <script src="{{uikit}}uikit/assets/vendor/jquery/jquery.min.js"></script>
    <script src="{{uikit}}uikit/assets/vendor/popper/popper.min.js"></script>
    <script src="{{uikit}}assets/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- FontAwesome 5 -->
    <script src="{{uikit}}assets/vendor/fontawesome/js/fontawesome-all.min.js"></script>

    <!-- Boomerang JS -->
    <script src="{{uikit}}uikit/assets/js/theme.js"></script>
</body>
</html>