<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>home</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800|Roboto:400,500,700" rel="stylesheet"> 

    <!-- Boomerang CSS (including Bootstrap) -->
    <link type="text/css" href="{{uikit}}assets/css/theme.css" rel="stylesheet">
    <style>
        .nav {
            background-color: rgba(255, 255, 255, 0.658); 
            list-style-type: none;
            text-align: center;
            margin: 0;
            padding: 0;
        }
        
        .nav li {
            display: inline-block;
            font-size: 20px;
            padding: 40px;
        }
        </style>
</head>
<body>
    <h2>查询充值记录</h2>
    <form method="post"><h4>用户名：</h4>{{form.username()}}{{form.submit()}}<a href="">清除输入</a></form>
    <table class="table table-hover align-items-center" >
           
        <thead>
            <tr>
                <!-- <th scope="col">
                    <div class="custom-control custom-checkbox">
                        <label class="custom-control-label" for="th_checkbox"></label>
                    </div>
                </th> -->
                <th scope="col">用户名</th>
                <th scope="col">金额</th>
                <th scope="col">时间</th>
                <th scope="col">操作员</th>
                <th scope="col">记录</th>
                <!-- <th scope="col">操作</th> -->
            </tr>
        </thead>
        <tbody>
            {%for i in lis%}
            <tr scope="row">
                <!-- <td>
                    <div class="custom-control custom-checkbox">
                        <label class="custom-control-label" for="td_checkbox_1"></label>
                    </div>
                </td> -->
                {%for j in i%}
                <td>
                    <h4 class="h5 font-weight-normal mb-0">{{j}}</h4>
                    <!-- <span class="font-weight-normal text-muted">Web Developer</span> -->
                </td>
                {%endfor%}
                <td>
                    <a href="/admin/bill/history?name={{i[0]}}">消费记录</a>
                </td>
            </tr>
            {%endfor%}

        </tbody>
    </table>
    <a href="/admin">admin home</a>


    
<!-- Bootstrap JS -->
<script src="{{uikit}}uikit/assets/vendor/jquery/jquery.min.js"></script>
<script src="{{uikit}}uikit/assets/vendor/popper/popper.min.js"></script>
<script src="{{uikit}}uikit/assets/vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- FontAwesome 5 -->
<script src="{{uikit}}assets/vendor/fontawesome/js/fontawesome-all.min.js"></script>

<!-- Boomerang JS -->
<script src="{{uikit}}uikit/assets/js/theme.js"></script>
</body>
</html>